body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.Pizza {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

.my-flex-container {
    display: flex;
    justify-content: flex-start;
    align-items: stretch; 
    height: 100%;
    flex-wrap: wrap;
    gap: 10px;
}

.item {
    border: solid #808080;
    background-color: white;
    min-height: 550px;
    border-width: 3px;
    max-width: 24.2%;
    color: black;
    padding: 15px;
    border-radius: 25px;
    /* позиционирование дочернего элемента */
    position: relative; 
}

.price {
    position: absolute; /* Позиционирование элемента с ценой */
    bottom: 15px; /* Отступ от нижней границы блока */
    left: 15px; /* Отступ от левой границы блока */
    padding: 5px; /* Добавлен внутренний отступ для лучшего отображения */
    font-weight: bold;
    font-size: 30px;
}

.image {
    max-width: 100%; /* Ограничиваем ширину изображения */
    height: auto; /* Автоматическая высота для сохранения пропорций */
}
