
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Пиццы</title> 
 
</head>
    <body>
        <div class="Pizza"><h1>Пиццы</h1></div>
        <div class="my-flex-container" id="card">
        <!-- содержимое плитки -->
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            // Глобальная переменная — массив пицц
            var pizzas = [
                {
                  name: "Мама мия",
                  image: "/Images/mama_miya.jpg",
                  ingredients: ["Соус Томатный", "Сыр моцарелла", "Фарш говяжий", "Куриная грудка", "Бекон", "Лук фри", "Пепперони", "Соус сырный Пармеджано", "Халапеньо", "Соус Медово-горчичный"],
                  price: 590
                },
                {
                  name: "Новогодняя",
                  image: "/Images/novogodnyaya_1.jpg",
                  ingredients: ["Соус Гавайский", "Сыр моцарелла", "Куриная грудка", "Мандарины консервированные", "Стружка миндаля", "Кокосовая стружка"],
                  price: 560
                },
                {
                  name: "Пестория",
                  image: "/Images/pestoriya.jpg",
                  ingredients: ["Соус Сливочный", "Томаты черри", "Сыр моцарелла", "Сыр фетаки", "Куриная грудка", "Соус сырный Пармеджано", "Соус Песто"],
                  price: 570
                },
                {
                  name: "Том ям",
                  image: "/Images/tom_yam.jpg",
                  ingredients: ["Соус Том ям", "Томаты свежие", "Шампиньоны", "Сыр моцарелла", "Лук маринованный", "Мидии", "Кальмар", "Осьминог", "Лайм"],
                  price: 650
                },
                {
                  name: "Capriccio",
                  image: "/Images/capriccio_1.jpg",
                  ingredients: ["Сыр моцарелла", "Соус Барбекю", "Соус Кальяри", "Пепперони", "Овощи гриль", "Бекон", "Ветчина", "Томаты черри", "Шампиньоны"],
                  price: 750
                },
                {
                  name: "XXXL",
                  image: "/Images/xxxl_1.jpg",
                  ingredients: ["Сыр моцарелла", "Соус 1000 островов", "Куриный рулет", "Ветчина", "Колбаски охотничьи", "Бекон", "Сервелат", "Огурцы маринованные", "Томаты черри", "Маслины", "Лук маринованный"],
                  price: 890
                },
                {
                  name: "4 вкуса",
                  image: "/Images/4_vkusa_1.jpg",
                  ingredients: ["Соус 1000 островов", "Сыр моцарелла", "Рулет куриный", "Ветчина", "Пепперони", "Сыр пармезан", "Шампиньоны", "Томаты свежие", "Маслины/оливки"],
                  price: 540
                },
                {
                  name: "Амазонка",
                  image: "/Images/amazonka_1.jpg",
                  ingredients: ["Соус Томатный", "Сыр моцарелла", "Куриная грудка", "Брокколи", "Огурцы маринованные", "Перец болгарский", "Шампиньоны", "Томаты черри", "Маслины", "Лук маринованный"],
                  price: 560
                },
                {
                  name: "Барбекю",
                  image: "/Images/barbeq_1.jpg",
                  ingredients: ["Соус Томатный", "Сыр моцарелла", "Ветчина", "Бекон", "Пепперони", "Соус Барбекю", "Томаты", "Перец болгарский", "Лук маринованный"],
                  price: 540
                      }, {
                  name: 'Деревенская',
                  image: '/Images/derevenskaya_1.jpg',
                  ingredients: ['Соус "1000 островов"', 'Сыр моцарелла', 'Ветчина', 'Сервелат', 'Огурцы маринованные', 'Опята маринованные', 'Укроп', 'Лук маринованный'],
                  price: 550
                },
                {
                  name: 'Домашняя',
                  image: '/Images/domashnyaya_1.jpg',
                  ingredients: ['Соус "Томатный"', 'Сыр моцарелла', 'Ветчина', 'Сервелат', 'Томаты', 'Шампиньоны'],
                  price: 560
                },
                {
                  name: 'Дон Бекон',
                  image: '/Images/don_bekon_1.jpg',
                  ingredients: ['Бекон', 'Соус "Кальяри"', 'Сыр моцарелла', 'Томаты черри'],
                  price: 560
                },
                {
                  name: 'Дьябло',
                  image: '/Images/diabolo_1.jpg',
                  ingredients: ['Соус "Томатный"', 'Сыр моцарелла', 'Ветчина', 'Пепперони', 'Соус "Кимчи"', 'Халапеньо', 'Томаты'],
                  price: 570
                },
                {
                  name: 'Кальяри',
                  image: '/Images/cagliari_1.jpg',
                  ingredients: ['Соус "Кальяри"', 'Креветки тигровые', 'Куриная грудка', 'Сыр моцарелла', 'Ананас', 'Соус "Унаги"', 'Кунжут'],
                  price: 590
                },
                {
                  name: 'Колизей',
                  image: '/Images/kolizey_1.jpg',
                  ingredients: ['Соус "Горчичный"', 'Сыр моцарелла', 'Куриный рулет', 'Колбаски охотничьи', 'Соус "Кисло-сладкий"', 'Томаты свежие', 'Лук маринованный'],
                  price: 570
                },
                {
                  name: 'Королевская',
                  image: '/Images/korolevskaya_1.jpg',
                  ingredients: ['Соус "Кальяри"', 'Сыр моцарелла', 'Бекон', 'Креветки тигровые', 'Сыр пармезан', 'Томаты черри'],
                  price: 660
                },
                {
                  name: 'Крестьянская',
                  image: '/Images/krestyanskaya_1.jpg',
                  ingredients: ['Соус "1000 островов"', 'Сыр моцарелла', 'Ветчина', 'Бекон', 'Укроп', 'Томаты', 'Шампиньоны', 'Лук маринованный'],
                  price: 535
                },
                {
                  name: 'Маргарита',
                  image: '/Images/margarita_1.jpg',
                  ingredients: ['Соус "Томатный"', 'Сыр моцарелла', 'Сливочный сыр', 'Томаты черри'],
                  price: 530
                },
                {
                  name: 'Морская',
                  image: '/Images/morskaya_1.jpg',
                  ingredients: ['Соус "Кальяри"', 'Сыр моцарелла', 'Кальмар', 'Креветки тигровые', 'Мидии', 'Осьминог', 'Лимон', 'Укроп', 'Лук маринованный', 'Маслины'],
                  price: 650
                },
                {
                  name: "Мясная сборная",
                  image: "/Images/myasnaya_sbornaya_1.jpg",
                  ingredients: ['Соус "Барбекю"', 'Сыр моцарелла', 'Куриный рулет', 'Ветчина', 'Бекон', 'Сервелат', 'Томаты', 'Перец болгарский', 'Лук маринованный', 'Маслины'],
                  price: 580
                },
                {
                  name: "Остров пепперони",
                  image: "/Images/ostrov_pepperoni_1.jpg",
                  ingredients: ['Сыр моцарелла x2', 'Соус "1000 островов"', 'Пепперони', 'Томаты свежие'],
                  price: 560
                },
                {
                  name: "Охотничья",
                  image: "/Images/ohotnichya_1.jpg",
                  ingredients: ['Соус "1000 островов"', 'Сыр моцарелла', 'Сервелат', 'Бекон', 'Колбаски охотничьи', 'Сливочный сыр', 'Сыр пармезан', 'Томаты черри', 'Лук маринованный', 'Маслины'],
                  price: 580
                },
                {
                  name: "Пепперони",
                  image: "/Images/peperoni_1.jpg",
                  ingredients: ['Соус "Томатный"', 'Сыр моцарелла', 'Пепперони'],
                  price: 510
                },
                {
                  name: "Пикантная",
                  image: "/Images/pikantnaya_1.jpg",
                  ingredients: ['Соус "Кальяри"', 'Ветчина', 'Сливочный сыр', 'Сыр моцарелла', 'Сыр пармезан', 'Томаты свежие', 'Перец болгарский'],
                  price: 570
                },
                {
                  name: "Пиноккио",
                  image: "/Images/pinokio_1.jpg",
                  ingredients: ['Соус "Гавайский"', "Куриный рулет", "Сыр моцарелла", "Кукуруза"],
                  price: 530
                },
                {
                  name: "Пицца-Cezar",
                  image: "/Images/cezar_1.jpg",
                  ingredients: ["Ветчина", "Куриная грудка", 'Соус "Кальяри"', "Сыр моцарелла", "Салат айсберг", "Сыр пармезан", 'Соус "Спайси"'],
                  price: 570
                },
                {
                  name: "Пицца-бургер",
                  image: "/Images/burger_1.jpg",
                  ingredients: ['Соус "Томатный"', "Сыр моцарелла", "Куриный рулет", "Ветчина", 'Соус "Бургер"', "Сервелат", "Кунжут", "Перец болгарский"],
                  price: 560
                },
                {
                  name: "Сардиния",
                  image: "/Images/sardiniya_1.jpg",
                  ingredients: ['Соус "Кальяри"', "Сыр моцарелла", "Брокколи", "Сливочный сыр", "Креветки тигровые", "Томаты черри"],
                  price: 600
                },
                {
                  name: "Славянская",
                  image: "/Images/slavyanskaya_1.jpg",
                  ingredients: ['Соус "1000 островов"', "Сыр моцарелла", "Картофельные дольки", "Бекон", "Ветчина", "Огурцы маринованные", "Лук маринованный", "Зелень", "Томаты свежие"],
                  price: 560
                },
                {
                  name: "Сладкая Италия",
                  image: "/Images/sladkaya_italiya_1.jpg",
                  ingredients: ['Соус "Сливочный"', "Груша консервированная", "Сыр моцарелла", "Сыр с голубой плесенью", "Орехи грецкие", "Мёд натуральный"],
                  price: 620
                },
                {
                  name: "Сливочно-острая",
                  image: "/Images/slivochno_ostraya_1.jpg",
                  ingredients: ['Соус "1000 островов"', "Сыр моцарелла", "Сервелат", "Бекон", "Сливочный сыр", 'Соус "Кимчи"', "Халапеньо", "Томаты"],
                  price: 560
                },
                {
                  name: "Солянка",
                  image: "/Images/solanka_1.jpg",
                  ingredients: ['Соус "Барбекю"', "Сыр моцарелла", "Колбаски охотничьи", "Бекон", "Сервелат", "Огурцы маринованные", "Лимон", "Укроп", "Томаты черри", "Лук маринованный", "Маслины"],
                  price: 600
                },
                {
                  name: "Сырная",
                  image: "/Images/cheese_1.jpg",
                  ingredients: ["Сыр моцарелла", "Сливочный сыр", 'Соус "Кальяри"', "Сыр фетаки", "Сыр с голубой плесенью", "Сыр пармезан"],
                  price: 620
                },
                {
                  name: "Татарская",
                  image: "/Images/tatarskaya.jpg",
                  ingredients: ['Соус "Томатный"', "Куриный рулет", "Сыр моцарелла", "Конно-говяжья колбаса", "Лук маринованный", "Томаты", "Шампиньоны", "Перец болгарский"],
                  price: 600
                },
                       {
                  name: "Фиеста",
                  image: "/Images/fiesta_1.jpg",
                  ingredients: ['Соус "1000 островов"', 'Сыр моцарелла', 'Куриный рулет', 'Колбаски охотничьи', 'Сливочный сыр', 'Сервелат', 'Опята маринованные', 'Шампиньоны'],
                  price: 580
                },
                {
                  name: "Филадельфия",
                  image: "/Images/filadelf_1.jpg",
                  ingredients: ['Соус "Кальяри"', 'Сыр моцарелла', 'Лосось', 'Сливочный сыр', 'Авокадо'],
                  price: 650
                },
                {
                  name: "Цезарь с лососем",
                  image: "/Images/cezar_s_lososem_1.jpg",
                  ingredients: ['Сыр моцарелла', 'Соус "Кальяри"', 'Томаты свежие', 'Лосось', 'Салат айсберг', 'Соус "Спайси"', 'Сыр пармезан'],
                  price: 650
                },
                {
                  name: "Инди-мандарин",
                  image: "/Images/indi_mandarin_1.jpg",
                  ingredients: ['Соус "Сливочный"', 'Индейка в имбирном соусе', 'Сыр моцарелла', 'Мандарины консервированные', 'Орехи грецкие', 'Соус "Брусничный"'],
                  priceException: "Временно недоступно"
                }
        ]

        </script> 
    </body>
</html>